.page-spacing{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:35px;
}

.data{
    padding:15px;
}

.content-width {
    width: 75vw;
}

.buttonspacing {
    margin-left: 20px;
    margin-right: 20px;
} 